.idea
*venv*
.pytest_cache
__pycache__
src/outputs
outputs
build
dist
LLMS.egg-info
*.env*
models
*.out
wandb/*
.cache
*.gradio*
*.egg*
.logs


*.states*
assets/external/
*.db
*.py[cod]
.cursorignore
.venv/
.vscode/
*.web*
__pycache__/
venv/
