pydantic~=2.11.7

setuptools~=44.1.1
git+https://github.com/EleutherAI/lm-evaluation-harness.git@v0.4.9
wandb==0.21.0
PyYAML~=6.0.2

aenum==3.1.16

peft==0.16.0
# torch==2.7.1
# flash-attn==2.8.3
reflex==0.8.27
passlib
argon2_cffi
alembic
plotly
openai==2.41.0

transformers==4.57.6
trl==0.27.2
datasets==4.8.5
